body {
  background: #f7f7f7;
  color: #424242;
  font-size: 14px;
  font-family: Merriweather,Liberation Serif,Times New Roman,Times,Georgia,FreeSerif,serif;
}

h2 {
  margin: 0px;
}

#messages-header .container {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin-bottom: 20px;
}

#messages-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  color: #084460;
  width: 80%;
  border-bottom: 1px dashed #084460;
}

*[id$="-messages"] {
  display: none;
}

#messages {
  max-height: 400px;
  overflow: auto;
}

.message {
  width: 45%;
}

.message.slaves {
  position: relative;
  left: 50%;
}

.message.active {
  color: #ea9408;
}

.message div {
  display: inline-block;
  vertical-align: middle;
}

.message .direction {
  font-size: 20px;
  width: 20px;
  font-weight: bold;
}

#footer {
  border-top: 1px dashed #084460;
  margin: 15px auto 0 auto;
  padding: 15px 5px 0 5px;
  width: 300px;
  text-align: center;
}
