h2 {
  margin: 0px;
}

#messages {
  height: 500px;
  font-size: 12px;
}

*[id$="-messages"] {
  display: none;
}

.message {
  width: 45%;
}

.message.slaves {
    position: relative;
    left: 50%;
}
